@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 75%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header{
  background: rgb(242,242,242);
}

.top-bar,.top-left,form,.top-right,.top-right .block1 { 
  display: flex;
  align-items: center;
}

.top-bar .wrapper{
  display: flex;
  justify-content: space-between;
}

.top-bar form{
  flex-basis: 37%;
}

.top-bar{
  justify-content: space-between;
}

.top-left {
  flex-basis: 60%;
  justify-content: space-between;
}

.input-control input{
  padding: 8.5px 8px;
  border: none;
  border-radius: 4px 0 0 4px;
  background: rgb(233, 230, 230);
  box-shadow: 1px 0 7px -1px rgb(129, 128, 128) inset;
}

.input-control input::placeholder{
  font-size: 15px;
  font-weight: bolder;
}

.search-btn{
  padding: 5px;
  border: none;
  border-radius: 0 4px 4px 0;
  background: rgb(0,0,0);
  color: rgb(255,255,255);
  font-size: 19px;
  text-indent: -9999px;
}

.search-btn::before{
  content: "\f002";
  text-indent: 0;
  font-family: "FontAwesome";
  float: left;
}

.shipping {flex-basis: 30%;}

.shipping a{ 
  color: rgb(0,0,0);
  font-weight: bold;
}

.top-right {
  flex-basis: 22%;
  justify-content: space-between;
}

.top-right .block1 { 
  padding: 20px 4%;
  flex-basis: 70%;
  justify-content: space-between;
  /* background:linear-gradient(103deg,rgb(0,0,0,0.1),rgb(255,255,255),rgb(255, 255, 255),rgb(255,255,255),rgb(255,255,255),rgb(255,255,255)); */
  box-shadow: 19px 0 13px -12px rgba(189, 186, 186, 0.4) inset;
  font-size: 12px;
}

.top-right .block2{
  flex-basis: 28%;
  text-align: center;
}

.wishlist-link,.login-link {
  color: rgb(0,0,0);
  text-transform: capitalize;
}

.wishlist-link::before,.login-link::before {
  margin-right: 5px;
  font-family: "FontAwesome";
  font-size: 12px;
  float: left;
}

.wishlist-link::before {content: "\f621";}

.login-link::before {content: "\f234";}

.block2 .cart {
  padding: 16px 17px;
  color: rgb(0,0,0);
  text-indent: -9999px;
  box-shadow: 19px 0 13px -12px rgba(189, 186, 186, 0.4) inset;

}

.cart::before {
  text-indent: 0;
  font-family: "FontAwesome";
  float: left;
}

.cart-icon::before {
  content: "\f07a";
  font-size: 22px;
}

nav {
  background: rgb(0,0,0);
}

nav .wrapper {
  display: flex;
  justify-content: space-between; 
}

.nav-items a,.explore a{
  color: rgb(255,255,255);
  transition: all 0.5s ease;
}

.nav-items{
  flex-basis: 80%;
  display: flex;
  align-items: center;
}

.nav-list{
  margin-right: 2%;
}

.nav-link{
  padding: 8px 0;
  font-size: 16px;
  text-transform: capitalize;
}

.nav-list:nth-child(6) .nav-link,.nav-list:nth-child(7) .nav-link{
  color: rgb(235,204,23);
  transition: all 0.5s ease;
}

.nav-list:nth-child(7) .nav-link{
  text-transform: uppercase;
}

.explore{
  display: flex;
  align-items: center;
}

.explore-link{
  text-transform: capitalize;
}

.nav-link::after,.explore-link::after{
  content: "\f107";
  margin: 4px 0 0 4px;
  font-family: "FontAwesome";
  float: right;
  font-size: 10px;
}

.nav-link:hover,.explore-link:hover ,.nav-list:nth-child(6) .nav-link:hover,.nav-list:nth-child(7) .nav-link:hover{
  color: rgb(255, 0, 0);
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/








/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  