@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 75%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header{
  background: rgb(242,242,242);
}

.top-bar,.top-left,form,.top-right,.top-right .block1 { 
  display: flex;
  align-items: center;
}

.top-bar .wrapper{
  display: flex;
  justify-content: space-between;
}

.top-bar form{
  flex-basis: 37%;
}

.top-bar{
  justify-content: space-between;
}

.top-left {
  flex-basis: 60%;
  justify-content: space-between;
}

.input-control input{
  padding: 8.5px 8px;
  border: none;
  border-radius: 4px 0 0 4px;
  background: rgb(233, 230, 230);
  box-shadow: 1px 0 7px -1px rgb(129, 128, 128) inset;
}

.input-control input::placeholder{
  font-size: 15px;
  font-weight: bolder;
}

.search-btn{
  padding: 5px;
  border: none;
  border-radius: 0 4px 4px 0;
  background: rgb(0,0,0);
  color: rgb(255,255,255);
  font-size: 19px;
  text-indent: -9999px;
}

.search-btn::before{
  content: "\f002";
  text-indent: 0;
  font-family: "FontAwesome";
  float: left;
}

.shipping {flex-basis: 30%;}

.shipping a{ 
  color: rgb(0,0,0);
  font-size: 14px;
  font-weight: bold;
  transition: all 0.5s ease;
}

.top-right {
  flex-basis: 22%;
  justify-content: space-between;
}

.top-right .block1 { 
  padding: 20px 4%;
  flex-basis: 70%;
  justify-content: space-between;
  box-shadow: 19px 0 13px -12px rgba(189, 186, 186, 0.4) inset;
  font-size: 12px;
}

.top-right .block2{
  flex-basis: 28%;
  text-align: center;
}

.wishlist-link,.login-link {
  color: rgb(0,0,0);
  text-transform: capitalize;
  transition: all 0.5s ease;
}

.wishlist-link::before,.login-link::before {
  margin-right: 5px;
  font-family: "FontAwesome";
  font-size: 12px;
  float: left;
}

.wishlist-link::before {content: "\f621";}

.login-link::before {content: "\f234";}

.block2 .cart {
  padding: 16px 17px;
  color: rgb(0,0,0);
  text-indent: -9999px;
  box-shadow: 19px 0 13px -12px rgba(189, 186, 186, 0.4) inset;
  transition: all 0.5s ease;

}

.cart::before {
  text-indent: 0;
  font-family: "FontAwesome";
  float: left;
}

.cart-icon::before {
  content: "\f07a";
  font-size: 22px;
}

.wishlist-link:hover ,.login-link:hover{
  color: rgb(197,30,43);
  transform: scale(1.2);
}

.cart:hover,.shipping a:hover{
  color: rgb(197,30,43);
}

nav {
  background: rgb(0,0,0);
}

nav .wrapper {
  display: flex;
  justify-content: space-between; 
}

.nav-items a,.explore a{
  color: rgb(255,255,255);
  transition: all 0.5s ease;
}

.nav-items{
  flex-basis: 80%;
  display: flex;
  align-items: center;
}

.nav-list{
  margin-right: 2%;
}

.nav-link{
  padding: 8px 0;
  font-size: 16px;
  text-transform: capitalize;
}

.nav-list:nth-child(6) .nav-link,.nav-list:nth-child(7) .nav-link{
  color: rgb(235,204,23);
  transition: all 0.5s ease;
}

.nav-list:nth-child(7) .nav-link{
  text-transform: uppercase;
}

.explore{
  display: flex;
  align-items: center;
}

.explore-link{
  text-transform: capitalize;
}

.nav-link::after,.explore-link::after{
  content: "\f107";
  margin: 4px 0 0 4px;
  font-family: "FontAwesome";
  float: right;
  font-size: 10px;
}

.nav-link:hover,.explore-link:hover ,.nav-list:nth-child(6) .nav-link:hover,.nav-list:nth-child(7) .nav-link:hover{
  color: rgb(255, 0, 0);
}

.hamburger {
  position: absolute;
  top: 10px;
  right: 5%;
  width: 30px;
  height: 30px;
  display: none; 
  cursor: pointer;
}

.bar {
  width: 100%;
  height: 4px;
  position: absolute;
  top: 50%;
  left: 0;
  display: inline-block;
  background-color: #000;
  border-radius: 4px;
  text-indent: -99999px;
  transform: translateY(-50%);
  transition: all 0.3s;
}

.bar::before,
.bar::after {
  content: "";
  width: inherit;
  height: inherit;
  position: absolute;
  left: 0;
  background-color: inherit;
  transition: all 0.3s;
}

.bar::before {
  top: -13px;
}

.bar::after {
  top: 13px;
}

.hamburger:hover .bar {
  transform: rotate(45deg);
}
.hamburger:hover .bar::before {
  display: none;
}
.hamburger:hover .bar::after {
  transform: translateY(-13px) rotate(90deg);
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* banner start */
.banner .wrapper {
  width: 100%;
  position: relative;
}

.slider {
  width: 75%;
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  text-transform: uppercase;
}

.slide-controls{
  width: 35%;
  padding: 5px 2%;
  border-radius: 14px;
  position: absolute;
  bottom: 20px;
  display: flex;
  align-items: center;
  background: rgb(0,0,0,0.5);
}

.slides{
  flex-basis: 30%;
  display: flex;
  align-items: center;
}

.dot { padding: 0 5px;}


.slide-title {
  padding: 2px 0 0 10px; 
  border-left: 1px dotted rgb(255,255,255);
  color: rgb(255,255,255);
  font-size: 13px;
}

.play-btn a,.slide-link{
  text-indent: -9999px;
  color: rgb(255,255,255);
}

.play-btn a::before{
  content: "\f04c";
  padding: 3px 9px 0 10px;
  text-indent: 0;
  font-family: "FontAwesome";
  float: left;
}

.slide-link{
  padding: 4px 7px;
  margin: 2px;
  border-radius: 50px;
  background: rgb(152,152,152);
  font-size: 5px;
}

.active-slide { background: rgb(255,255,255); }

.slide-content{
  padding: 50px 0;
  position: absolute;
  right: 0;
}

.slide-heading{
  padding: 11px 0 8px 0;
  font-size: 44px;
  font-weight: lighter;
  letter-spacing: 10px;
}

.slide-heading sup{
  top: -3.1em;
  font-size: 6px;
  letter-spacing: 0;
}

.txt-bold{
  font-weight: 600;
}

.slide-sub-heading{
  font-weight: 600;
  letter-spacing: 4.5px;
}

.slide-desc{
  padding: 18px 0;
  color: rgb(156,28,33);
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: right;
}

.slide-btn-box{
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.slide-btn{
  flex-basis: 48%;
}

.btn-link{
  padding: 18px 3%;
  border: 1px solid rgb(255,255,255);
  display: block;
  background: rgb(0,0,0,0.5);
  color: rgb(255,255,255);
  font-size: 22px;
  text-align: center;
  transition: all 0.5s ease;
}

.btn-link:hover{
  background: rgb(255,255,255);
  color: rgb(0, 0, 0);
}

/* banner end */

/* category section start */
.categories{
  padding: 52px 0 20px 0;
  display: flex;
  flex-wrap: wrap;
}

.card-heading{
  color: rgb(140,139,139);
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.category-list{
  flex-basis: 25%;
}

.card-body{
  display: flex;
}

.card-category{
  display: flex;
  flex-direction: column;
}

.card-link{
  padding: 3px 0;
  color: rgb(0, 0, 0);
  transition: all 0.5s ease;
}

.card-link:hover{
  color: rgb(255, 0, 0);
  transform: scale(1.1);
}

.card-link::before{
  content: "\f054";
  padding: 4px 3px 0 5px;
  font-family: "FontAwesome";
  float: left;
  font-size: 9px;
}

/* category section end */

/* training section start */
.training .wrapper{
  width: 100%;
  background: rgb(235,235,235);
}

.training-img{
  position: relative;
}

.training .title{
  padding: 10px .6%;
  position: absolute;
  top: 0;
  left: 12%;
  color: rgb(140,139,139);
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.training-items{
  width: 75%;
  padding: 0 1%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.training-list{
  padding: 0 7px;
  text-align: center;
}

.training-link{
  padding: 25px 0;
  color: rgb(115,114,109);
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.training-link:hover{
  color: rgb(156,28,33);
}

/* training section end */

/* outlet section start */
.outlet {
  padding: 30px 0;
}

.outlet-heading{
  padding: 20px 0;
  color: rgb(140,139,139);
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.outlet-cards{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.outlet-list{
  flex-basis: 23.8%;
}

.outlet-link{
  padding: 18px 2% 12px 10%;
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: bold;
  text-transform: capitalize;
  transition: all 0.5s ease;
}

.outlet-link:hover{
  color: rgb(156,28,33);
  transform: scale(1.1);
}

.outlet-caps{
  text-transform: uppercase;
}

/* outlet section end */



/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer .wrapper{
  width: 100%;
}

/* contact part start */

.contact-details,.footer-main,.signup-part,.footer-bottom{
  padding: 0 10%;
}

.contact-details{
  display: flex;
  flex-wrap: wrap;
  background: rgb(50,51,47);
  color: rgb(255,255,255);
}

.contact-list{
  padding: 20px 1%;
  margin-right: 3%;
  text-transform: capitalize;
}

.contact-list:nth-child(2),.contact-list:nth-child(3){ box-shadow: 8px 0 12px -8px rgb(15, 15, 15) inset; }

/* contact part end */

/* footer-main part start */
.footer-main{
  padding: 30px 10%;
  display: flex;
  flex-wrap: wrap;
  background: rgb(55,56,51);
}

.footer-list{
  flex-basis: 20%;
}

.footer-items{
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}

.sublist-heading{
  color: rgb(140,139,139);
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.footer-link{
  padding: 5px 0;
  color: rgb(255,255,255);
  font-size: 13px;
  text-transform: capitalize;
  transition: all 0.5s ease;
}

.footer-link:hover{
  color: rgb(255, 0, 0);
  text-decoration: underline;
}

.facebook-share{
  width: 50%;
}

.shares{
    margin-top: 12px;
}

.shares span{
  padding: 3px 13.1%;
  border-radius: 3px 3px 0 0;
  display: block;
  background: rgb(255,255,255);
  text-align: center;
}

.share-link{
  padding: 3px 4.5%;
  display: block;
  border-radius: 0 0 3px 3px;
  background: rgb(75,100,176);
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.share-link::before{
  content: "\f082";
  padding: 7px 5px 0 0;
  font-family: "FontAwesome";
  font-size: 18px;
}

/* footer-main part end */

/* footer-signup part start */
.signup-part{
  padding: 26px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: rgb(66,66,61);
}

.signup-heading{
  flex-basis: 80%;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.signup-btn{
  flex-basis: 20%;
  text-align: right;
}

.red-txt{
  color: rgb(197,30,43);
}

.signup-link{
  padding: 8px 5%;
  border-radius: 5px;
  background: rgb(197,30,43);
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: capitalize;
  transition: all 0.5s ease;
}

.signup-link:hover{
    color: rgb(197,30,43);
    background: rgb(255, 255, 255);
}

.signup-link::after{
  content: "\f138";
  margin-left: 50px;
  font-family: "FontAwesome";
  font-size: 20px;
  float: right;
}

/* footer-signup part end */

/* footer bottom part start */
.footer-bottom{
  background: rgb(55,56,51);
}

.payment-items{
  padding: 40px 0;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.payment-cards{
    margin-right: 2%;
}

.copyright-part{
    padding: 32px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(110,115,121);
}

.chatbox{
  width: 7%;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 15px;
  right: 40px;
}

.scrollTop-link,.chat-link{
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 11px;
  transition: all 0.5s ease;
}

.scrollTop-link{
  padding: 20px 10px 10px 10px;
  border-radius: 4px;
  background: rgb(0, 0, 0);
  text-transform: uppercase;
}

.scrollTop-link::after{
  content: "\f106";
  position: absolute;
  top: 5px;
  left: 15px;
  font-family: "FontAwesome";
}

.chat{
  margin-left: 10px;
}

.chat-link{
  padding: 10px;
  font-size: 14px;
}

.chat-link::before{
  content: "\f075";
  position: absolute;
  z-index: -1;
  top: -6px;
  left: 0;
  color: rgb(0, 0, 0);
  font-family: "FontAwesome";
  font-size: 50px;
}

.scrollTop-link:hover{
  color: rgb(0, 0, 0);
  background: rgb(255,255,255);
}

.chat-link:hover{
  color: rgb(197,30,43);
}

/* footer bottom part end */




 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 1024px starts here*/
@media only screen and (max-width: 1024px) {

  /* topbar start */
  .top-left{
    flex-basis: 74%;
  }

  .top-right{
    flex-basis: 26%;
  }

  .input-control input {
    padding: 8.5px 0 8.5px 4px;
  }

  .shipping a{
    font-size: 13px;
  }

  .top-right .block1 {
    padding: 8px 4%;
    flex-basis: 70%;
    flex-direction: column-reverse;
  }

  .wishlist{
    padding: 5px;
  }
  /* topbar end */

  /* banner start */
  .slide-heading{
    font-size: 34px;
  }

  .slide-content{
   text-align: right;
   padding: 24px 0;
  }

  .slide-sub-heading{
    letter-spacing: 2.2px;
  }

  .btn-link{
    padding: 12px 0%;
    font-size: 14px;
  }

  .slide-desc{
    font-size: 15px;
  }
  /* banner end */

  /* category section start */
  .category-list {
    padding: 14px;
    flex-basis: 33%;
  }
  /* category section end */

  /* training section start */
  .training-items {
    width: 75%;
    padding: 0;
  }

  .training-list{
    flex-basis: 14%
  }

  .training-link {
    padding: 25px 0;
  }
  /* training section end */

  /* outlet section start */

  .outlet-list {
    flex-basis: 31.8%;
  }
  /* outlet section end */

  /* footer start */

  /* contact-details part start */
  .contact-list {
    margin-right: 0;
    font-size: 13px;
  }
  /* contact-details part end */

  /* payment-part start */
  .payment-cards {
    margin: 1.5% 2% 0 0;
    flex-basis: 20%;
  }
  /* payment-part end */

  /* footer end */

}  
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {

  /* header start */
  .nav-items {
    flex-basis: 90%;
    display: flex;
    align-items: center;
  }

  .nav-link,.explore-link{
    font-size: 13px;
  }

  .top-bar form {
    flex-basis: 54%;
  }

  .shipping {
    display: none;
  }
  /* header end */

  /* banner section start */
  .banner-img{
    height: 55vh;
  }

  .banner-img img{
    height: 100%;
  }

  .slider {
    width: 100%;
  }

  .slide-content{
    text-align: center;
  }

  .slide-content,.slide-controls{
    left: 50%;
    transform: translateX(-50%);
  }

  .slide-controls{
    width: auto;
  }

  .slide-heading{
    font-size: 24px;
  }

  .slide-sub-heading{
    font-size: 14px;
    letter-spacing: 1.1px;
  }

  .slide-desc{
    font-size: 13px;
    text-align: center;
  }

  .slide-btn-box {
    display: block;
    text-align: center;
  }

  .btn-link {
    padding: 12px 13px;
    font-size: 14px;
  }
  /* banner section end */

  /* category section start */
  .category-list {
    padding: 0;
    margin-top: 12px;
    flex-basis: 33%;
  }
  /* cotegory section end */

  /* training section start */
  .training-list{
    text-align: center;
  }
  
  .training-link{
    font-size: 14px;
  }
  /* training section end */


  /* contact-details part start */
  .contact-list {
    flex-basis: 50%;
    font-size: 15px;
  }

  .contact-list:nth-child(2),.contact-list:nth-child(3){
    box-shadow: none;
  }

  /* contact-details part end */

  /* footer-main part start */
  .facebook-share{
    margin-left: 11%;
  }
  /* footer-main part end */

  /* signup-part start */
  .signup-heading,.signup-btn{
    flex-basis: 100%;
  }

  .signup-btn {
    padding: 20px 0 0 0;
    text-align: left;
  }

  .signup-link {
    padding: 8px 2%;
  }
  /* signup-part end */

}  

/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {
  /* header start */
  nav .wrapper{
    flex-direction: column;
  }

  .top-right .block1,.top-bar form{
    display: none;
  }

  .block2 .cart{
    padding: 0;
    box-shadow: none;
  }

  .top-right {
    flex-basis: 6%;
  }
  
  .cart-icon::before {
    content: "\f07a";
    font-size: 29px;
  }

  .hamburger {
    display: block;
    z-index: 3;
  }

  .hamburger:hover .bar::after {
    transform: translateY(-9px) rotate(90deg);
  }

  .hamburger:hover + nav {
    transform: translateX(0);
  }

  .bar:hover{
    background: rgb(255,255,255);
  }

  nav {
    width: 100%;
    z-index: 2;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    transition: all 0.5s ease;
  }

  .nav-items {
    margin: 60px 0 0 0;
    display: flex;
    flex-direction: column;
  }

  .nav-link ,.explore-link{
    padding: 24px 0;
    display: block;
    font-size: 20px;
  }

  .bar::before {
    top: -10px;
  }

  .bar::after {
    top: 10px;
  }

  .explore {
    justify-content: center;
  }
  /* header end */

  /* banner section start */
  .slide-heading{
    font-size: 20px;
  }

  .slide-sub-heading{
    font-size: 11px;
    letter-spacing: 1.1px;
  }

  .slide-desc{
    font-size: 10px;
  }

  .btn-link {
    font-size: 10px;
  }
  /* banner section end */

  /* category section start */
  .category-list {
    flex-basis: 50%;
  }

  .categories {
    padding: 0px 0 20px 0;
  }

  .category-list {
    margin-top: 36px;
  }
  /* category section end */

  /* training section start */
  .training-items{
    justify-content: flex-start;
  }

  .training-list {
    flex-basis: 33%;
  }
  /* training section wnd */

  /* outlet section start */
  .outlet-list {
    flex-basis: 47.8%;
  }
  /* outlet section end */

  /* footer start */
  .contact-list {
    flex-basis: 100%;
    font-size: 16px;
  }

  /* footer main part start */
  .footer-list {
    flex-basis: 33%;
  }
  /* footer main part end */

  /* footer-bottom part start */
  .copyright{
    font-size: 16px;
  }

  .copyright-part {
    flex-direction: column-reverse;
  }

  .copyright-img{
    padding-bottom: 5px;
  }
  /* footer-bottom part end */

  /* footer end */
}

/*media query for 480px starts here*/
@media only screen and (max-width: 480px) {
  /* header start */
  .top-right {
    flex-basis: 14%;
  }

  .cart-icon::before {
    content: "\f07a";
    font-size: 22px;
  }

  .bar::before {
    top: -9px;
  }

  .bar::after {
    top: 9px;
  }
  /* header end */

  /* banner start */
  .slide-btn-box {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .slide-btn{
    padding-top: 7px;
  }
  /* banner end */

  /* category section start */
  .categories {
    justify-content: center;
  }

  .card-heading {
    text-align: center;
    padding: 0 0 20px 0;
  }

  .category-list {
    flex-basis: 70%;
  }

  .card-link {
    font-size: 14px;
  }

  .card-link::before {
    font-size: 8px;
  }
  /* category section end */

  /* outlet section start */
  .outlet-list {
    flex-basis: 100%;
  }
  /* outlet section end */

  /* footer start */

  /* contact-details part start */
  .contact-list {
    font-size: 14px;
  }
  /* contact-details part end */

  /* footer-main part start */
  .footer-list {
    flex-basis: 50%;
  }

  .facebook-share {
    margin-left: 0;
    width: 66%;
  }

  .share-link,.share span{
    font-size: 16px;
  }

  .share-link {
    padding: 3px 28px;
  }
  /* footer-main part end */

  /* footer-bottom part start */
  .copyright{
    font-size: 10px;
  }

  .payment-items {
    padding: 40px 0;
    margin-bottom: 0;
  }

  .payment-cards {
    flex-basis: 23%;
  }
  /* footer-bottom part end */

  /* footer end */
}

/*media query for 375px starts here*/
@media only screen and (max-width: 375px) {

  /* header start */
  .top-right {
    flex-basis: 17%;
  }
  /* header end */

  /* banner start */
  .slide-content {
    padding: 11px 0 0 0;
  }

  .slide-title {
   display: none;
  }
  /* banner end */

  /* training section start */
  .training-list {
    flex-basis: 50%;
    text-align: left;
  }
  /* training section end */

  /* footer start */

  /* contact-details part start */
  .contact-list {
    font-size: 11px;
  }
  /* contact-details part end */

  /* footer-main part start */
  .share-link,.share-link::before,.shares span{
    font-size: 13px;
  }

  .share-link {
    padding: 3px 19px;
  }
  /* footer-main part end */

  /* chatbox part start */
  .chatbox {
    flex-direction: column;
  }

  .scrollTop-btn {
    margin-bottom: 12px;
    margin-left: 3px;
  }

  .chat {
    margin-left: 0;
  }
  /* chatbox part end */

  /* footer end */
}

/*media query for 320px starts here*/
@media only screen and (max-width: 320px) {

  /* category section start */
  .category-list {
    flex-basis: 76%;
  }
  /* category section end */

  /* outlet section start */
  .outlet {
    text-align: center;
  }

  .outlet-heading {
    font-size: 18px;
  }


.outlet-link {
  padding: 18px 0;
}
  /* outlet section end */

  /* signup part start */
  .signup-link::after {
    margin-left: 22px;
  }

  .signup-link {
    font-size: 14px;
  }

  .signup-link::after{
    font-size: 15px;
  }

  .signup-heading {
    font-size: 16px;
  }
  /* signup part end */

  /* copyright part */
  .copyright {
    font-size: 8px;
  }
  /* copyright end */
}

