@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 75%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header{
  background: rgb(242,242,242);
}

.top-bar,.top-left,form,.top-right,.top-right .block1 { 
  display: flex;
  align-items: center;
}

.top-bar .wrapper{
  display: flex;
  justify-content: space-between;
}

.top-bar form{
  flex-basis: 37%;
}

.top-bar{
  justify-content: space-between;
}

.top-left {
  flex-basis: 60%;
  justify-content: space-between;
}

.input-control input{
  padding: 8.5px 8px;
  border: none;
  border-radius: 4px 0 0 4px;
  background: rgb(233, 230, 230);
  box-shadow: 1px 0 7px -1px rgb(129, 128, 128) inset;
}

.input-control input::placeholder{
  font-size: 15px;
  font-weight: bolder;
}

.search-btn{
  padding: 5px;
  border: none;
  border-radius: 0 4px 4px 0;
  background: rgb(0,0,0);
  color: rgb(255,255,255);
  font-size: 19px;
  text-indent: -9999px;
}

.search-btn::before{
  content: "\f002";
  text-indent: 0;
  font-family: "FontAwesome";
  float: left;
}

.shipping {flex-basis: 30%;}

.shipping a{ 
  color: rgb(0,0,0);
  font-weight: bold;
}

.top-right {
  flex-basis: 22%;
  justify-content: space-between;
}

.top-right .block1 { 
  padding: 20px 4%;
  flex-basis: 70%;
  justify-content: space-between;
  /* background:linear-gradient(103deg,rgb(0,0,0,0.1),rgb(255,255,255),rgb(255, 255, 255),rgb(255,255,255),rgb(255,255,255),rgb(255,255,255)); */
  box-shadow: 19px 0 13px -12px rgba(189, 186, 186, 0.4) inset;
  font-size: 12px;
}

.top-right .block2{
  flex-basis: 28%;
  text-align: center;
}

.wishlist-link,.login-link {
  color: rgb(0,0,0);
  text-transform: capitalize;
}

.wishlist-link::before,.login-link::before {
  margin-right: 5px;
  font-family: "FontAwesome";
  font-size: 12px;
  float: left;
}

.wishlist-link::before {content: "\f621";}

.login-link::before {content: "\f234";}

.block2 .cart {
  padding: 16px 17px;
  color: rgb(0,0,0);
  text-indent: -9999px;
  box-shadow: 19px 0 13px -12px rgba(189, 186, 186, 0.4) inset;

}

.cart::before {
  text-indent: 0;
  font-family: "FontAwesome";
  float: left;
}

.cart-icon::before {
  content: "\f07a";
  font-size: 22px;
}

nav {
  background: rgb(0,0,0);
}

nav .wrapper {
  display: flex;
  justify-content: space-between; 
}

.nav-items a,.explore a{
  color: rgb(255,255,255);
  transition: all 0.5s ease;
}

.nav-items{
  flex-basis: 80%;
  display: flex;
  align-items: center;
}

.nav-list{
  margin-right: 2%;
}

.nav-link{
  padding: 8px 0;
  font-size: 16px;
  text-transform: capitalize;
}

.nav-list:nth-child(6) .nav-link,.nav-list:nth-child(7) .nav-link{
  color: rgb(235,204,23);
  transition: all 0.5s ease;
}

.nav-list:nth-child(7) .nav-link{
  text-transform: uppercase;
}

.explore{
  display: flex;
  align-items: center;
}

.explore-link{
  text-transform: capitalize;
}

.nav-link::after,.explore-link::after{
  content: "\f107";
  margin: 4px 0 0 4px;
  font-family: "FontAwesome";
  float: right;
  font-size: 10px;
}

.nav-link:hover,.explore-link:hover ,.nav-list:nth-child(6) .nav-link:hover,.nav-list:nth-child(7) .nav-link:hover{
  color: rgb(255, 0, 0);
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* banner start */
.banner .wrapper {
  width: 100%;
  position: relative;
}

.slider {
  width: 75%;
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  text-transform: uppercase;
}

.slide-controls{
  width: 35%;
  padding: 5px 2%;
  border-radius: 14px;
  position: absolute;
  bottom: 20px;
  display: flex;
  align-items: center;
  background: rgb(0,0,0,0.5);
}

.slides{
  flex-basis: 30%;
  display: flex;
  align-items: center;
}

.dot { padding: 0 5px;}


.slide-title {
  padding: 2px 0 0 10px; 
  border-left: 1px dotted rgb(255,255,255);
  color: rgb(255,255,255);
  font-size: 13px;
}

.play-btn a,.slide-link{
  text-indent: -9999px;
  color: rgb(255,255,255);
}

.play-btn a::before{
  content: "\f04c";
  padding: 3px 9px 0 10px;
  text-indent: 0;
  font-family: "FontAwesome";
  float: left;
}

.slide-link{
  padding: 4px 7px;
  margin: 2px;
  border-radius: 50px;
  background: rgb(152,152,152);
  font-size: 5px;
}

.active-slide { background: rgb(255,255,255); }

.slide-content{
  padding: 50px 0;
  position: absolute;
  right: 0;
}

.slide-heading{
  padding: 11px 0 8px 0;
  font-size: 44px;
  font-weight: lighter;
  letter-spacing: 10px;
}

.slide-heading sup{
  top: -3.1em;
  font-size: 6px;
  letter-spacing: 0;
}

.txt-bold{
  font-weight: 600;
}

.slide-sub-heading{
  font-weight: 600;
  letter-spacing: 4.5px;
}

.slide-desc{
  padding: 18px 0;
  color: rgb(156,28,33);
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: right;
}

.slide-btn-box{
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.slide-btn{
  flex-basis: 48%;
}

.btn-link{
  padding: 18px 3%;
  border: 1px solid rgb(255,255,255);
  display: block;
  background: rgb(0,0,0,0.5);
  color: rgb(255,255,255);
  font-size: 22px;
  text-align: center;
  transition: all 0.5s ease;
}

.btn-link:hover{
  background: rgb(255,255,255);
  color: rgb(0, 0, 0);
}

/* banner end */

/* category section start */
.categories{
  padding: 52px 0 20px 0;
  display: flex;
  flex-wrap: wrap;
}

.card-heading{
  color: rgb(140,139,139);
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.category-list{
  flex-basis: 25%;
}

.card-body{
  display: flex;
}

.card-category{
  display: flex;
  flex-direction: column;
}

.card-link{
  padding: 3px 0;
  color: rgb(0, 0, 0);
  transition: all 0.5s ease;
}

.card-link:hover{
  color: rgb(255, 0, 0);
  transform: scale(1.1);
}

.card-link::before{
  content: "\f054";
  padding: 4px 3px 0 5px;
  font-family: "FontAwesome";
  float: left;
  font-size: 9px;
}

/* category section end */

/* training section start */
.training .wrapper{
  width: 100%;
  background: rgb(235,235,235);
}

.training-img{
  position: relative;
}

.training .title{
  padding: 10px .6%;
  position: absolute;
  top: 0;
  left: 12%;
  color: rgb(140,139,139);
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.training-items{
  width: 75%;
  padding: 0 1%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.training-list{
  padding: 0 7px;
}

.training-link{
  padding: 25px 50px 25px 0;
  color: rgb(115,114,109);
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.training-link:hover{
  color: rgb(156,28,33);
}

/* training section end */

/* outlet section start */
.outlet {
  padding: 30px 0;
}

.outlet-heading{
  padding: 20px 0;
  color: rgb(140,139,139);
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.outlet-cards{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.outlet-list{
  flex-basis: 23.8%;
}

.outlet-link{
  padding: 18px 2% 12px 10%;
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: bold;
  text-transform: capitalize;
  transition: all 0.5s ease;
}

.outlet-link:hover{
  color: rgb(156,28,33);
  transform: scale(1.1);
}

.outlet-caps{
  text-transform: uppercase;
}

/* outlet section end */



/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer .wrapper{
  width: 100%;
}

/* contact part start */
.contact-details{
  padding: 0 10%;
  display: flex;
  flex-wrap: wrap;
  background: rgb(50,51,47);
  color: rgb(255,255,255);
}

.contact-list{
  padding: 20px 1%;
  margin-right: 3%;
  text-transform: capitalize;
}

.contact-list:nth-child(2),.contact-list:nth-child(3){ box-shadow: 1px 0 7px -1px rgb(15, 15, 15) inset; }

/* contact part end */






 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  